[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[user]
	name = mkanim1
	email = 70426519+mkanim1@users.noreply.github.com
